@charset "utf-80";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    font-family: Red Hat Display;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main{
    background-color: white;
    width: 335px;
    overflow:hidden ;
    text-align: center;
    border-radius: 20px;

}

.imagem img{
    width: 100%;
}

.text h2{
    padding: 20px;
}

.text p{
    color: gray;
    line-height: 1.7em;
    font-weight: 500;
    padding-bottom: 20px;
}

.price{
    margin: auto;
    background-color: hsl(225, 100%, 98%);
    width: 290px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
    align-items: center;
    border-radius: 10px;
}

.change, .price p{
    margin-top: 15px;
}

.icon-music{
    margin-top: 15px;
}

.price a{
    font-weight: bold;
    color: hsl(245, 75%, 52%);
}

.button{
    background-color: hsl(245, 75%, 52%);
    width: 290px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px ;
    padding: 15px;
}

.button-2{
    color: gray;
    font-weight: bold;
    padding: 20px;
}

.button a{
    text-decoration: none;
    color: white;
}

.button-2 a{
    text-decoration: none;
    color: gray;
}

.button-2 a:hover{
    color: black;
}

.price a:hover{
    color: hsl(245, 44%, 57%);
    text-decoration: none;
}
.button:hover{
    background-color: hsl(245, 44%, 57%);
}

p{
    color: gray;
}

b{
     color: black;
}
